body {
    line-height: 1.6;
    margin: 1em;
    padding: 1em;
    align-self: center;
    background-color: #ddf;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.foldit-regular {
    font-family: "Foldit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

ul {
    margin-bottom: 1em;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin: 1em 0;
    align-items: center;
    text-align: center;
}